<div class="row">
  <div class="small-12 columns">
  <br>
  <br>
  <br>
  <br>
  </div>
</div>
<div class="row">
  <div class="small-2 columns">
    <%= image_tag("ncc2.jpg", size: "125x125")%>
  </div>
  <div class="small-10 columns">
    <p>I am a Web Developer and recent graduate from <a href="http://www.devbootcamp.com">Dev Bootcamp Chicago</a>.  To keep learning and sharpening my web development skills, I created Simple Pet Records along with my wife.  I am very passionate about dogs and this was a lot of fun to work on.  More information about me can be found here <a href="http://www.nestorcarloscastillo.com">www.nestorcarloscastillo.com</a>
    </p>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <p>Nestor</p>
    <hr>
  </div>
</div>
<div class="row">
  <div class="small-2 columns">
    <%= image_tag("ac.jpg", size: "125x125")%>
  </div>
  <div class="small-10 columns">
    <p>After my husband got back from <a href="http://www.devbootcamp.com">Dev Bootcamp</a> I said, "Why don't you build me a web app."  With an idea in hand and my husband's new found skill Simple Pet Records was born.  The idea came from being annoyed with having to organize all of Lilo's paper records</p>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <p>Alexandra</p>
    <hr>
  </div>
</div>
<div class="row">
  <div class="small-2 columns">
    <%= image_tag("lilo_small.jpg", size: "300x300")%>
  </div>
  <div class="small-10 columns">
    <p>Lilo is our current CIO(Chief Inspiraton Officer).  She has kept Nestor and Alexandra company while Simple Pet Records was being developed.  She sleeps most of the time and offers occassional petting and hugging.  She knows how to put a smile on her owner's faces when they feel a little stressed.</p>
  </div>
</div>
 <div class="row">
  <div class="small-12 columns">
    <p>Lilo</p>
  </div>
</div>