<div class="row">
  <div class="small-9 small-centered large-uncentered columns">
<%= form_for @visit, url: user_pet_visit_path do |f| %>
<fieldset>
    <legend>Edit Vet Visits</legend>
    <%= render partial: "visit", locals: { f: f } %>
</fieldset>
<% end %>
</div>
</div>