<table>
  <thead>
    <tr>
      <th width="100">Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% pet.conditions.each do |p| %>
<tr>
  <td><%= p.name %></td>
  <td><%= p.description %></td>
  <td><%= link_to 'Edit', edit_user_pet_condition_path(pet.user_id, pet, p.id)%> <%= link_to 'Delete', user_pet_condition_path(pet.user_id, pet, p.id), confirm: "Are you sure?", method: :delete%></td>
</tr>
<% end %>
</tbody>
</table>