<table>
  <thead>
    <tr>
      <th width="100">Date</th>
      <th>Description</th>
      <th width="150">Dosage</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <tr>
  <td>Content Goes Here</td>
  <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
  <td>Content Goes Here</td>
  <td><%= link_to 'Edit'%> <%= link_to 'Delete'%></td>
  </tbody>
</table>