<h3>My Pets</h3>
<%= link_to "Create Pet", new_user_pet_path(@user) %>
<p>
<% if @user.pets.nil?%>
<p>You have no pets<p>
<% else %>
<ol>
<% @user.pets.each do |pet| %>
	<li><%= link_to "#{pet.name}", user_pet_path(@user,pet.id)%></li>
<% end %>
</ol>
<% end %>
</p>
<h3>My Info</h3>
<p>Name: <%= "#{@user.first_name}" + " " + "#{@user.last_name}" %></p>
<p>Address:</p>

<h3>My Reminders</h3>