<div class="row">
  <div class="small-9 small-centered large-uncentered columns">
<%= form_for @medication, url: user_pet_medication_path do |f| %>
<fieldset>
    <legend>Edit Medications</legend>
    <%= render partial: "medication", locals: { f: f } %>
</fieldset>
<% end %>
</div>
</div>
