<div class="row">
  <div class="small-9 small-centered large-uncentered columns">
<%= form_for @immunization, url: user_pet_immunization_path do |f| %>
<fieldset>
    <legend>Edit Immunizations</legend>
    <%= render partial: "immunization", locals: { f: f } %>
</fieldset>
<% end %>
</div>
</div>
